# Java
target/
*.class
*.log
*.jar
*.war
*.iml
*.ipr
*.iws
*.idea/
*.project
*.classpath
*.settings/
*.DS_Store

# IntelliJ & VSCode
.idea/
*.sw?
.vscode/

# Maven
logs/
*.log
!src/main/resources/*.log
.mvn/
**/target/
dependency-reduced-pom.xml
release.properties

# Spring Boot devtools
.spring-boot-devtools.properties

# OS
.DS_Store
Thumbs.db

# Angular
microtrace-ui/.angular/
microtrace-ui/node_modules/
microtrace-ui/dist/
microtrace-ui/tmp/
microtrace-ui/package-lock.json

# Docker
*.pid
*.sock

# Logs
logs/
*.log

# Temp files
*.tmp
*.bak
*.old
*.orig
*.rej

# Env/Secrets
.env
.env.*
secrets.*

# JetBrains (optional)
*.idea
*.ijwb
out/

# npm log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Exclude Jaeger or Tempo binary data
**/traces/
